.hn-list {
  width: 250px;
  padding: 5px 10px;
  background: gray;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 5px 10px;
  .hn-card {
    width: 98%;
    background: rgb(195, 240, 243);
    margin: 5px auto;
    padding: 5px 10px;
    border-radius: 5px;
  }
  .hn-btn {
    background: gray;
    border: none;
  }
  .show {
    display: block;
  }
  .hide {
    display: none;
  }
}
