<div class="d-flex">
  <div cdkDropListGroup>
    <div
      cdkDropList
      class="d-flex"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      <div cdkDropList class="hn-list" *ngFor="let list of lists" cdkDrag>
        <button
          *ngIf="!selectedList[list.id]"
          (click)="onEditList(list.id)"
          class="hn-btn"
        >
          {{ list.title }}
        </button>
        <button (click)="deleteList(list)">X</button>
        <p *ngIf="selectedList[list.id]">
          <input type="text" (focusout)="onEditTitle(list)" id="editTitle" />
        </p>
        <!-- <div cdkDropListGroup> -->
        <div
          cdkDropList
          (cdkDropListDropped)="dropItem($event)"
          [cdkDropListData]="list.cards"
          cdkDropListGroup
        >
          <div
            cdkDropList
            *ngFor="let card of list.cards"
            class="hn-card"
            cdkDrag
          >
            {{ card.name }}
          </div>
        </div>
        <!-- </div> -->
        <div *ngIf="!selectedCard[list.id]">
          <button (click)="onClickCard(list.id)" class="hn-btn">
            + Add a card
          </button>
        </div>
        <form
          class="hn-form"
          *ngIf="selectedCard[list.id]"
          [formGroup]="addCard"
          (ngSubmit)="addNewCard(list)"
          class="hn-form"
        >
          <input
            type="text"
            placeholder="Enter card name..."
            formControlName="name"
          />
          <div>
            <button class="add-list" type="submit">Add Card</button>
            <button class="close-add-list" (click)="onClickCard(list.id)">
              X
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="isClickList">
    <button (click)="onClickList()" class="hn-list">+ Add another list</button>
  </div>
  <form
    class="hn-form"
    *ngIf="!isClickList"
    [formGroup]="addList"
    (ngSubmit)="addNewList()"
  >
    <input
      type="text"
      placeholder="Enter list title..."
      formControlName="title"
    />
    <div>
      <button class="add-list" type="submit">Add list</button>
      <button class="close-add-list" (click)="onClickList()">X</button>
    </div>
  </form>
</div>
