<div class="d-flex">
  <div cdkDropListGroup>
    <div
      cdkDropList
      class="d-flex"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
    >
      <div cdkDropList class="hn-list" *ngFor="let list of lists" cdkDrag>
        <div class="d-flex">
          <button
            *ngIf="!selectedList[list.id]"
            (click)="onEditList(list.id)"
            class="hn-btn"
          >
            {{ list.title }}
          </button>
          <p *ngIf="selectedList[list.id]">
            <input
              type="text"
              (focusout)="onEditTitle(list, editTitle.value)"
              id="editTitle"
              #editTitle
              placeholder="{{list.title}}"
            />
          </p>
          <button (click)="deleteList(list)" class="btn-delete">
            <i class="fa fa-trash"></i>
          </button>
        </div>

        <!-- <div cdkDropListGroup> -->
        <div
          cdkDropList
          (cdkDropListDropped)="dropItem($event)"
          [cdkDropListData]="list.cards"
          cdkDropListGroup
        >
          <div
            cdkDropList
            *ngFor="let card of list.cards; let i = index"
            class="hn-card"
            cdkDrag
          >
          
            <button
              *ngIf="!editCard[card.id]"
              (click)="onEditCard(card.id)"
              class="hn-btn-card"
            >
              {{ card.name }}
            </button>
            <p *ngIf="editCard[card.id]">
              <input
                type="text"
                (focusout)="onEditCardName(card, list, editName.value)"
                #editName
                autofocus
              />
            </p>
            <button
              class="btn-delete-card"
              (click)="deleteCard(i, list, list.cards)"
            >
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
        <!-- </div> -->
        <div *ngIf="!selectedCard[list.id]">
          <button (click)="onClickCard(list.id)" class="hn-btn">
            + Add a card
          </button>
        </div>
        <form
          class="hn-form"
          *ngIf="selectedCard[list.id]"
          [formGroup]="addCard"
          (ngSubmit)="addNewCard(list)"
          class="hn-form"
        >
          <input
            type="text"
            placeholder="Enter card name..."
            formControlName="name"
          />
          <div>
            <button class="add-list" type="submit">Add Card</button>
            <button class="close-add-list" (click)="onClickCard(list.id)">
              X
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="isClickList">
    <button (click)="onClickList()" class="hn-list">+ Add another list</button>
  </div>
  <form
    class="hn-form"
    *ngIf="!isClickList"
    [formGroup]="addList"
    (ngSubmit)="addNewList()"
  >
    <input
      type="text"
      placeholder="Enter list title..."
      formControlName="title"
    />
    <div>
      <button class="add-list" type="submit">Add list</button>
      <button class="close-add-list" (click)="onClickList()">X</button>
    </div>
  </form>
</div>
