<hn-form></hn-form>
<!--
  <div cdkDropListGroup>
    <div class="example-container">
      <h2>Available numbers</h2>

      <div
        cdkDropList
        [cdkDropListData]="all"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListEnterPredicate]="noReturnPredicate"
      >
        <div
          class="example-box"
          *ngFor="let number of all"
          [cdkDragData]="number"
          cdkDrag
        >
          {{ number }}
        </div>
      </div>
    </div>

    <div class="example-container">
      <h2>Even numbers</h2>

      <div
        cdkDropList
        [cdkDropListData]="even"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
        [cdkDropListEnterPredicate]="evenPredicate"
      >
        <div
          class="example-box"
          *ngFor="let number of even"
          cdkDrag
          [cdkDragData]="number"
        >
          {{ number }}
        </div>
      </div>
    </div>
  </div>
-->
